In [2]:
words = 'The quick brown fox jumps over the lazy dog'.split()
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [3]:
[ [w.upper(), w.lower(), len(w) ] for w in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [4]:
for i , v in enumerate("ABC"):
    print("{0} |t {1}". format(i,v))

0 |t A
1 |t B
2 |t C

In [5]:
my_str = "ABCD"
{v : i for i, v in enumerate(my_str)}

{'A': 0, 'B': 1, 'C': 2, 'D': 3}

In [14]:
text = "Samsung Group is a South Korean multinational conglomerate headqutered in Samsung Town Seoul."
set_text = list(set(text.split())) #중복은 없애고 싶으면 set 사용

In [13]:
text = "Samsung Group is a South Korean multinational conglomerate headqutered in Samsung Town Seoul."
set_text = list(set(text.split())) #중복은 없애고 싶으면 set 사용
{i : v.lower() for i, v in enumerate(set_text)}

{0: 'is',
 1: 'town',
 2: 'a',
 3: 'conglomerate',
 4: 'headqutered',
 5: 'multinational',
 6: 'korean',
 7: 'seoul.',
 8: 'in',
 9: 'south',
 10: 'samsung',
 11: 'group'}

In [15]:
{v.lower() : i for i, v in enumerate(set_text)}

{'is': 0,
 'town': 1,
 'a': 2,
 'conglomerate': 3,
 'headqutered': 4,
 'multinational': 5,
 'korean': 6,
 'seoul.': 7,
 'in': 8,
 'south': 9,
 'samsung': 10,
 'group': 11}

In [17]:
#Lambda
def f(x, y):
    return x+y

f(1,4)

5

In [18]:
(lambda x, y : x+ y) (10,50)

60

In [21]:
(lambda x,y: x+y) (10,50)

60

In [19]:
up_low = lambda x : x.upper() + x.lower()

In [23]:
up_low = lambda x : "-".join(x.split())

In [20]:
up_low("My Happy")

'MY HAPPYmy happy'

In [24]:
#map
ex = [1,2,3,4,5]
f = lambda x : x ** 2

list(map(f,ex))

[1, 4, 9, 16, 25]

In [25]:
f = lambda x,y : x+y
list(map(f,ex,ex))

[2, 4, 6, 8, 10]

In [ ]:
def f(ex)
    return ex + 5

In [ ]:
[f(value) for value in ex]